<h2>生徒のプロジェクト一覧<h2>
<div>
  <p><%= @student.name %></p>
  <p><%= @student.scratch_username %></p>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>プロジェクト名</th>
        <th>作成日</th>
        <th>更新日</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= image_tag project['image'] %></td>
            <td>
              <%= link_to "https://scratch.mit.edu/projects/#{project['id']}/", target: :_blank, rel: "noopener noreferrer" do %>
                <%= project['title'] %>
              <% end %>
            </td>
            <td>
              <%= (Time.parse(project['history']['created']) + 32400).strftime('%Y/%m/%d at %H:%M') %></td>
            <td><%= (Time.parse(project['history']['modified']) + 32400).strftime('%Y/%m/%d at %H:%M') %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>