<!DOCTYPE html>
<html>
  <head>
    <title>みんなのScratchさくひん</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container clear">
        <div class="header-left">
          <h1 class="header-logo">みんなのScratch</h1>
        </div>
        <div class="header-right">
          <nav>
            <ul class="header-nav clear">
              <li class= 'header-nav-item'><%= link_to 'Home', root_path %></li>
              <li class= 'header-nav-item'><%= link_to 'About', about_path %></li>
              <li class= 'header-nav-item'><%= link_to 'Sign up', root_path %></li>
              <li class= 'header-nav-item'><%= link_to 'Login', root_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
